@page
@model LetsDance.Pages.BuddingDancers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Remove Dancer</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuddingDancer.DancerFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuddingDancer.DancerFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuddingDancer.DancerLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuddingDancer.DancerLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuddingDancer.DancerBirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuddingDancer.DancerBirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuddingDancer.JoiningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuddingDancer.JoiningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuddingDancer.PastStudent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuddingDancer.PastStudent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuddingDancer.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuddingDancer.Genre.GenreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuddingDancer.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuddingDancer.Branch.Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BuddingDancer.BuddingDancerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
